table {
    border: none;
    width: 100%;
}

th {
}

td, th {
    font-family: monospace;
    padding: 5px;
}

.document-details-container {
    width: 100%;
    padding: 10px;
    max-height: 62vh;
    overflow-y: auto;
}

.document-details-title {
    padding: 10px 0 0 5px;
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
}