table {
    width: 100%;
    font-family: monospace;
    padding: 2px;
}

thead {
    position: sticky;
    background-color: white;
    top: 0;
}

tbody {
    overflow-y: scroll;
    height: 300px;
}

td, th {
    padding: 5px;
}

.document-position-name {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
}

.document-position-digit {
    border-color: inherit;
    text-align: right;
    vertical-align: top;
}

.document-position-title {
    font-family: monospace;
    text-align: left;
    padding-left: 10px;
    font-size: 17px;
}

.document-position-container {
    padding-top: 10px;
    /*overflow-y: scroll;*/
    /*height: 300px;*/
}
