table {
    width: 100%;
    font-family: monospace;
    padding: 2px;
}

thead {
    position: sticky;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    top: 0;
}

td, th {
    padding: 5px;
    font-weight: 500;
}

.document-position-name {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
}

.document-position-digit {
    border-color: inherit;
    text-align: right;
    vertical-align: top;
}

.document-position-title {
    font-family: monospace;
    text-align: left;
    padding-left: 10px;
    font-size: 17px;
}

