table {
    border: none;
    width: 100%;
}

th {
}

td, th {
    font-family: monospace;
    padding: 5px;
}

.document-details-container {
    padding: 10px;
    max-height: 62vh;
    overflow-y: auto;
}